@font-face {
  src: url("./typo/amoria/AMORIA.otf") format("opentype");
  font-family: "amoria";
}

@font-face {
  src: url("./typo/lexia_readable/LexieReadable-Regular.ttf") format("truetype");
  font-family: "lexi";
}

*{
  margin: 0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  min-height:100vh;
}


h1 {
  color: #872341;
  font-family: "amoria";
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin: 10px;
  
}

h2 {
   font-family: "amoria";
   color: #872341;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right:10%;
  
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

.hero{
width: 100%;
}

.navbar a {
  color: #872341;
  font-size: 35px;
  text-decoration: none;
}