@font-face {
  src: url("./typo/AMORIA.otf") format("opentype");
  font-family: "amoria";
}

@font-face {
  font-family: 'lexi';
  src: url('./typo/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./typo/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;
  background:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E") repeat,
  linear-gradient(-45deg, #F5F5F5, #f2e8e1, #f8c9d4, #b76e79);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

html{
 scroll-behavior: smooth;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.titre, .titre2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


 h1 {
  color: #872341;
  font-family: "amoria";
  font-size: 100px;
  text-align: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  
}

h2{
  color: #872341;
  font-family: "amoria";
  font-size: 60px;
  text-align: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
}



.titre:hover h1:first-child {
  transform: translateY(55px);
   color: #09122C;
  
}

.titre:hover h1:last-child {
  transform: translateY(-55px);
   color: #09122C;
}

.titre2:hover h2:first-child {
  transform: translateY(30px);
   color: #09122C;
  
}

.titre2:hover h2:last-child {
  transform: translateY(-35px);
   color: #09122C;
}


nav, .navbar {
  display: flex;
}

nav{
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.navbar{
gap: 40rem;
list-style: none;
font-size: 1.5rem;
}

a{
  color:#872341;
  text-decoration: none;
  text-decoration-color: #09122C;
  font-family: "lexi";
}
a:hover{
  color: #09122C;
  text-decoration: overline;
}

.description p {
  color: #872341;
  font-family: "lexi";
  font-size: 25px;
}

#profile {
  display: flex;                  
  align-items: center;            
  justify-content: space-between; 
  gap: 40px;                     
  padding: 40px;
}

.description {
  width: 60%;
  text-align: justify;
  line-height: 1.6;
}

.camera {
  width: 500px;           
  height: auto;           
  position: relative;   
  filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
}

.nom {
  position: absolute;   
  bottom: -70px;         
  left: 50%;            
  transform: translateX(-50%); 
  color: #872341;
  font-family: "lexi";
  font-weight: 600;
  text-align: center;
  font-size: larger;
}


.camera img {
  width: 100%;           
  height: auto;           
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
  transition: transform 0.5s ease;
}



